#
# Twilio Accont Info
# No Auth token, use API keys instead
#
ACCOUNT_SID=

#
# Twilio Account - API Key
#
TWILIO_API_KEY=
TWILIO_API_SECRET=

#
# Twilio Sync Service to use
#
SYNC_SERVICE_SID=
MAP_CALL_LOG=
TWILIO_TRANSCRIPTION_SYNC_TTL=

#
# Open AI
#
OPENAI_API_KEY=
OPENAI_MODEL=

TWILIO_AI_ASSISTANT_SID=
